@model ProfileModel
<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="script.js"></script>
    @Styles.Render("~/Content/custom/home.css")
    @Styles.Render("~/Content/custom/profile.css")
</head>
<body style="background-image: linear-gradient(to right, #cb2d3e, #bbd7e2);">
    @{Html.RenderAction("NavigationBar", "Home");}
    <a href="@Url.Action("SignOut","Account")">Sign Out</a>
    <div class="container">
        <div class="row">
            <div class="col-md-5 profile-section">
                <div class="row">
                    <div class="col-md-10"><h2>Your Profile</h2></div>
                    <div class="col-md-2"><h2><a style="font-size: 18px;">Edit</a></h2></div>
                </div>
                <div class="panel-body">
                    <div class="box-body">
                        <hr style="margin:5px;">

                        <div class="col-md-4 title ">Email:</div><div class="col-md-8">@Model.Email</div>
                        <div class="clearfix"></div>

                        <div class="col-md-4 title ">Password:</div><div class="col-md-8"> ****</div>
                        <div class="clearfix"></div>

                        <div class="col-md-4 title ">First Name:</div><div class="col-md-8">@Model.Firstname</div>
                        <div class="clearfix"></div>

                        <div class="col-md-4 title ">Last Name:</div><div class="col-md-8">@Model.Lastname</div>
                        <div class="clearfix"></div>

                        @if (Model.DayOfBirth.HasValue)
                        {
                            <div class="col-md-4 title ">Date Of Birth:</div><div class="col-md-8">@Model.DayOfBirth.Value.ToShortDateString()</div>
                            <div class="clearfix"></div>
                        }
                        <div class="col-md-4 title ">Phone:</div><div class="col-md-8">@Model.Phone</div>
                        <div class="clearfix"></div>

                        <div class="col-md-4 title ">Billing Address:</div><div class="col-md-8">@Model.BillingAddress</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>





</body>
</html>