@model SignUpModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sign Up</title>
    <link rel="icon" href="~/Content/image/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    @Styles.Render("~/Content/custom/login.css")
</head>
<body>
    <img id="centerLogo" src="~/Content/image/logo.png">
    <div class="signUpMain">
        <p class="sign" align="center">Sign Up</p>
        <form class="form1" action="/Account/SignUp" method="post">
            <input class="un " name="Email" type="email" align="center" placeholder="email" value="@Model.Email" autofocus>
            @if (Model.ErrorMessage != "")
            {
                <label class="field-validation-error">@Model.ErrorMessage</label>@Html.ValidationMessage("Email")
            }
            else
            {
                <label>Your email will be used to sign in</label>
            }
            <input class="pass" name="Password" type="password" align="center" placeholder="Password">
            @Html.ValidationMessageFor(x => x.Password)
            <input class="pass" type="password" align="center" placeholder="Confirm Password">
            <input class="un " name="Phone" type="text" align="center" placeholder="Phone Number" value="@Model.Phone">
            <label>example: 334-660-8451</label>
            <input class="un " name="Firstname" type="text" align="center" placeholder="First Name" value="@Model.Firstname">
            @Html.ValidationMessageFor(x => x.Firstname)
            <input class="un " name="Lastname" type="text" align="center" placeholder="Last Name" value="@Model.Lastname">
            @Html.ValidationMessageFor(x => x.Lastname)
            <input class="submit" type="submit" value="Sign Up" />
        </form>
    </div>
</body>
</html>