<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/Content/image/logo.png">
    <title>Healthcare System</title>
    @Styles.Render("~/Content/custom/home.css")
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body style="background: white;">
    @Html.Partial("~/Views/Shared/_NavigationBar.cshtml")
    <div style="overflow: visible; width: 65%; height: 50%; float: right; margin-right: 20%;">
        <img id="rightLogo" src="~/Content/image/welcome-logo.png">
        <h1>Welcome @ViewBag.FirstName @ViewBag.LastName!</h1>
    </div>

    <a href="@Url.Action("MakeAppointment","Patient")"><img style="width:40%; height: 100%; margin-left: 6%;" src="~/Content/image/appointment.jpg"></a>
    <a href="https://www.youtube.com/"><img style="width:40%; height: 100%; margin-left: 6%;" src="~/Content/image/list.jpg"></a>
    <br><br>
    <a href="https://www.youtube.com/"><img style="width:40%; height: 100%; margin-left: 6%;" src="~/Content/image/profile.jpg"></a>
    <a href="https://www.youtube.com/"><img style="width:40%; height: 100%; margin-left: 6%;" src="~/Content/image/history.png"></a>

</body>
</html>