@model IList<MedicalRecordModel>
<table id="med-record-table" class="topaz-table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Blood Pressure</th>
            <th>Pulse</th>
            <th>Lab Result</th>
            <th>Radiology Result</th>
            <th>Pathology Result</th>
            <th>Allergy Info</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr data-recordid="@record.RecordId">
                <td style="width: 80px;">@record.Date.ToShortDateString()</td>
                <td style="width:50px;">@record.Weight</td>
                <td style="width:50px;">@record.Height</td>
                <td style="width: 90px;">@record.BloodPressure</td>
                <td style="width: 50px;">@record.Pulse</td>
                <td style="width: 130px;">@record.LabResult</td>
                <td style="width: 130px;">@record.RadiologyReport</td>
                <td style="width: 130px;">@record.PathologyReport</td>
                <td style="width: 130px;">@record.AllegyInformation</td>
                <td style="width: auto;">@record.Description</td>
            </tr>
        }
    </tbody>
</table>
