@model Dictionary<int, List<AppointmentModel>>
<!DOCTYPE html>
<html>
<head>
    <title> Make an Appointment </title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    @Styles.Render("/Content/custom/makeAppointment.css")
    @Styles.Render("/Content/custom/home.css")
    <script src="script.js"></script>
</head>
<body>
    <nav>
        <div class="header">
            <h2 class="logo">Healthcare System</h2>
            <!-- Temp Header? -->
            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn">
                <i class="fas fa-ellipsis-h"></i>
            </label>

            <div class="menu">

                <a href="@Url.Action("Index","Home")">Home</a>
                <a href="@Url.Action("About","Home")">About</a>
                <a href="#>Services</a>
                <a href="#">Contact</a>
                <a href="@Url.Action("Index","Account")">Account</a>

                <label for="chk" class="hide-menu-btn">
                    <i class="fas fa-times"></i>
                </label>

            </div>
        </div>
    </nav>
    <h1 class="blue" style="clear: both;">Make an Appointment</h1>
    <div class="datepicker">
        <h1> Pick a Date</h1>
        <input type="date" id="myDate" value="">
        <br /><br />
    </div>

    <table class="container">
        <thead>
            <tr>
                <th><h1>Avaiable Time</h1></th>
                <th><h1>Name</h1></th>
                <th><h1>Status</h1></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1:32:50 AM</td>
                <td>Longdd</td>
                <td><a href="#" class="myButton">Book</a></td>
            </tr>
            <tr>
                <td>00:51:22</td>
                <td></td>
                <td><a href="#" class="myButton">Book</a></td>
            </tr>
            <tr>
                <td>00:24:34</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>00:12:10</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>