@model Dictionary<int, List<AppointmentModel>>
<!DOCTYPE html>
<html>
<head>
    <title> Make an Appointment </title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    @Styles.Render("~/Content/custom/make-appointment.css")
    @Styles.Render("~/Content/custom/home.css")
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    @Scripts.Render("~/Scripts/custom/make-appointment.js")
</head>
<body>
    @Html.Hidden("GetAppointmentURL", Url.Action("GetAvailableAppointmentsByDate", "Patient"))
    @Html.Hidden("MakeAppointmentURL", Url.Action("MakeAppointment", "Patient"))
    @Html.Hidden("PatientId", (int)ViewBag.PatientId)
    @Html.Partial("~/Views/Shared/_NavigationBar.cshtml")
    <h1 class="blue" style="clear: both;">Make an Appointment</h1>
    <div class="datepicker">
        <h1> Pick a Date</h1>
        <input id="datepicker" type="date">
        <br /><br />
    </div>

    <table class="container">
        <thead>
            <tr>
                <th><h1>Time</h1></th>
                <th><h1>Doctor</h1></th>
                <th><h1>Action</h1></th>
            </tr>
        </thead>
        <tbody class="ap-table-body">
            @Html.Partial("_AppointmentTable", Model)
        </tbody>
    </table>
</body>
</html>