@model IList<PatientAccount>
@Styles.Render("~/Content/custom/appointment-list.css")
<style>
    tbody tr:hover {
        background-color: #CC3BFC !important;
        cursor:pointer;
    }
</style>

<table class="purpleHorizon">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody style="line-height: 25px;">
        @foreach (var patient in Model)
        {
            <tr data-patientid="@patient.AccountId" style="background-color:#555555;">
                <td>@patient.Firstname</td>
                <td>@patient.Lastname</td>
                <td>@patient.Phone</td>
                <td>@patient.BillingAddress</td>
            </tr>
        }
    </tbody>
</table>