@model IList<AppointmentModel>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="logo.png">
    <title>Healthcare System</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    @Styles.Render("~/Content/custom/appointment-list.css")
    @Styles.Render("~/Content/custom/home.css")
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/Scripts/custom/appointment-list.js")
    @Styles.Render("~/Content/custom/row-hover.css")
</head>
<body style="background: white;">
    @{Html.RenderAction("NavigationBar", "Home"); }
    @Html.Hidden("UpdateServiceTreatmentURL", Url.Action("UpdateServiceTreatment", "Staff"))
    <div style="overflow: auto; width: 65%;margin: auto auto 30px auto; clear:both">
        <h1>Your Appointments</h1>
        <h3 style="text-align:center;color:#a99999">(Select one to update services & treatment for patient)</h3>
    </div>

    <table id="dr-ap-table" class="purpleHorizon">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Patient</th>
            </tr>
        </thead>
        <tbody style="line-height: 25px;">
            @foreach (var appointment in Model)
            {
                <tr data-appointmentid="@appointment.AppointmentId">
                    <td>@appointment.Time.ToShortDateString()</td>
                    <td>@appointment.Time.ToShortTimeString()</td>
                    <td style="width: 40%;">@appointment.PatientName</td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>