@model MedicalRecordModel
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="logo.png">
    <title>Medical Record Input</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=entypo">
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    @Styles.Render("~/Content/custom/home.css")
</head>
<body style="background-image: linear-gradient(to right, #cb2d3e, #bbd7e2);">
    @{Html.RenderAction("NavigationBar", "Home");}

    <img id="centerLogo" src="~/Content/image/logo.png">
    <div class="signUpMain">
        <p class="sign" align="center">Medical Record Input<br />(@Model.PatientName)</p>
        <form class="form1" action="@Url.Action("InputMedicalRecord","Staff")" method="post">
            <input type="hidden" name="RecordId" value="@Model.RecordId" />
            <input type="hidden" name="PatientId" value="@Model.PatientId" />
            <input class="un" name="Weight" type="text" align="center" value="@Model.Weight" placeholder="Patient Weight(In Lbs)" />
            <input class="un" name="Height" type="text" align="center" value="@Model.Height" placeholder="Height (In Inches)" />
            <input class="un" name="BloodPressure" type="text" align="center" value="@Model.BloodPressure" placeholder="Blood Pressure(In mmHg)" />
            <input class="un" name="Pulse" type="text" align="center" value="@Model.Pulse" placeholder="Pulse(In BPM)" />
            <input class="un" name="LabResult" type="text" align="center" value="@Model.LabResult" placeholder="Lab Result" />
            <input class="un" name="RadiologyReport" type="text" align="center" value="@Model.RadiologyReport" placeholder="Radiology Result" />
            <input class="un" name="PathologyReport" type="text" align="center" value="@Model.PathologyReport" placeholder="Pathology Result" />
            <input class="un" name="AllegyInformation" type="text" align="center" value="@Model.AllegyInformation" placeholder="Allergy Info" />
            <input class="un" name="Description" type="text" align="center" value="@Model.Description" placeholder="Description" />
            <label style="display: block;">Date of Filing</label>
            <input class="un " name="DateString" type="Date" align="center" value="@Model.DateString" placeholder="Date" />
            <input class="submit" type="submit" value="Submit" />
        </form>
    </div>

    <script>
        //set date from model for datepicker
        $(document).ready(function () {
            var $dateInput = $("input[type='Date']");
            if ($dateInput.attr("value") === "") {
                var today = new Date();
                var year = today.getFullYear()
                var month = today.getMonth() + 1;
                var day = today.getDate();
                if (month < 10) month = "0" + month;
                if (day < 10) day = "0" + day;
                var dateString = year + "-" + month + "-" + day;
                $dateInput.val(dateString);
            } else {
                $dateInput.val($dateInput.attr("value"));
            }

            $dateInput.change(function () {
                $dateInput.attr("value", $dateInput.val());
            });
        });
    </script>
</body>
</html>